chromadb
streamlit
langchain
langchain-core
langchain-ollama
langchain-community
langchain-text-splitters
onnxruntime>=1.17.0,<1.20.0
unstructured[all-docs]
fastembed
sentence-transformers
uvicorn
pydantic
tiktoken
transformers
torch
pytest
-e .